@using EntityLayer.Concrete
@model List<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>No</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyadı</th>
        <th>Mail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.WriterId</th>
            <td>@item.WriterLastName</td>
            <td>@item.WriterSurName</td>
            <td>@item.WriterMail</td>
        </tr>
    }

</table>
<br />

