@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkında Sayfası</h2>
<table class="table table-hover">
    <tr>
        <th style="width: 5%">ID</th>
        <th style="width: 75%">Hakkında Başlığı</th>
        <th style="width: 30%"> Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutId</td>
            <td>@item.AboutDetails1</td>
            <td class="project-actions">
                @if (item.AboutStatus == true)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-danger">Pasif</span>
                }
            </td>
            <td class="project-actions text-right">
                <a class="project-actions text-right">
                    @if (item.AboutStatus == true)
                    {
                        <a class="btn btn-danger btn-sm" href="/AdminAbout/DeleteAbout/@item.AboutId">
                           
                            Pasifleştir
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm" href="/AdminAbout/DeleteAbout/@item.AboutId">
                           
                            Aktifleştir
                        </a>
                    }
                </a>
            </td>
        </tr>
    }
</table>
<br />
@Html.Action("AddAboutPartial", "AdminAbout")